# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Band private data & Temp files
*.zip
band1.zip
tmp_images/
tmp_home_ver2.jsx
tmp_home_ver2_utf8.jsx
tmp_index_ver2.css
tmp_index_ver2_utf8.css
tmp_*
